$dark: #303546;
$gray: #95A1B6;
$gray-light: #E1E5ED;
$gray-light-secondary: #909DB1;
$gray-dark: #697783;
$biruza: #4A7DA7;
$blue: #4B86FA;
$light-blue: #E9F2FF;
$blue-dark: #447BE8;
$yellow: #FFC52F;
$red: #FF6262;
$green: #6FCF97;
$green-light: #4ED486;
$pink: #CB81CD;
$silver: #c4c4c4;
