
.user-profile {
  display: flex;
  flex-direction: column;
  width: 100%;

  .image-upload {
    z-index: 1;
  }
  &__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  &__image {
    min-width: 240px;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  &__fields {
    width: calc(100% - 250px);
    padding-left: 40px;
  }

  .button-zoom {
    background-color: transparent;
    margin-left: 24px;
    padding-left: 14px;
    padding-right: 20px;
    color: #2889fc;
    width: 194px;

    svg {
      margin-right: auto;
    }

    span {
      margin-right: auto;
      margin-left: 10px;

      &.zoom-connected {
        &:last-child {
          display: none;
        }
      }
    }

    &:hover {
      background-color: #2889fc;
      color: white;
    }

    &.activated {
      background-color: #2889fc;
      color: white;

      &:hover {
        background: #ed4967;
        border-color: #ed4967;
        color: #fff;
        svg {
          circle {
            fill: white;
          }
          path {
            fill: #ed4967;
          }
        }
        span {
          display: none;
          &:last-child {
            display: inline-block;
          }
        }
      }
    }
  }
  .linksBlocks {
    padding: 0 40px;
    &__card {
      padding: 15px 20px;
      background: white;
      box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
      border-radius: 3px;
      margin-bottom: 9px;
      a {
        //width: 100%;
        width: 233px;
        margin-top: 20px;
      }
      .chat {
        display: flex;
        flex-direction: row;
        &__avatar {
          width: 40px;
          height: 40px;
          margin-right: 55px;
          line-height: 21px;
          position:relative
        }
        &__online{
            width:12px;
            height:12px;
            background-color: #2BBE75;
            border-radius:50%;
            border:solid 2px white;
            display:block;
            position:absolute;
            bottom:0;
            right:0;
        }
        &__title {
          font-size: 16px;
          font-weight: 500;
          color: black;
          line-height: 18px;
          margin-bottom: 5px;
        }
        &__text {
          font-size: 14px;
          font-weight: 400;
          color: #909db1;
        }
      }
      .apps {
        display: flex;
        align-items: center;
        &__title {
          font-size: 16px;
          line-height: 21px;
          font-weight: 500;
          margin-left: 23px;
          margin-right: 36px;
        }
        &__icon {
          height: 20px;
          margin-right: 14px;
        }
      }
    }
  }
  @media (max-width: 1160px){
    .user-profile{
      &__content{
        flex-wrap: wrap;
        .linksBlocks{
          padding:0;
          margin-top: 20px;
        }
      }
    }
  }
  @media (max-width: 576px){
    .user-profile{
      &__content{
        flex-wrap: wrap;
        .linksBlocks{
          display:flex;
          flex-wrap: nowrap;
          flex-direction: row;
         width:100%;
        }
      }
    }
    .linksBlocks{
 
overflow: scroll;
 }
  .apps {
    margin-bottom: 19px;
}
  }
  @include respond-to(max1024) {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    padding-bottom: 90px;

    &__image {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      width: 100%;
      max-width: 240px;
    }

    &__fields {
      width: 100%;
      padding-left: 0;
      padding-top: 30px;
      .button-zoom {
        margin-left: 0px;
      }
      .btn-save {
      display: none;
      }
      .btn-delete {
        position: fixed;
        z-index: 7;
        bottom: 14px;
        left: 16px;
        height: 48px;
        font-size: 14px;
        letter-spacing: 0.8px;
        width: 97%;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
@media (max-width: 576px){
 .foot {
    width: calc(100% - 27px) !important;
 }


}
@media only screen and (max-width: 768px) {
.user-profile .linksBlocks__card .chat__online {
    width: 12px !important;
    height: 12px !important;
    background-color: #2BBE75;
    border-radius: 50%;
    border: solid 2px white;
    display: block;
    position: absolute;
    bottom: -9px !important;
    right: -7px !important;
}
.chat__avatar img {
    width: 51px !important;
}
}